<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Collabeat</title>
    <link rel="stylesheet" href="{{ static_url('vendor/normalize.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ static_url('collabeat.css') }}" type="text/css" />

</head>
<body>

<div id="grid" class="grid"></div>
<div id="button">Start</div>

<script src="{{ static_url('vendor/jquery-1.11.1.min.js') }}"></script>
<script>var static_path = {{ static_url('') }};</script>
<script src="{{ static_url('collabeat.js') }}"></script>

</body>
</html>
